<div class="doca-page post-page">
  <button class="page-top-back-button" ng-click="voltarFeed()" id="btn-voltar-post">← Voltar</button>

  <div class="post-page__status" ng-if="carregando">
    <small class="post-page__status-text">Carregando...</small>
  </div>

  <div class="post-page__status" ng-if="erro">
    <p class="post-page__status-text">{{ erro }}</p>
  </div>

  <article class="post-page__content" ng-if="post && !carregando">
    <h1 class="post-page__title">{{ post.title }}</h1>

    <div class="post-page__meta">
      <div class="post-page__author-info">
        <img ng-if="post.user.avatar_url" ng-src="http://localhost:3333/uploads/{{ post.user.avatar_url }}" class="post-page__author-avatar" style="object-fit: cover;" />
        <div ng-if="!post.user.avatar_url" class="post-page__author-avatar">
          {{ post.user.name ? post.user.name.charAt(0).toUpperCase() : '?' }}
        </div>
        <div class="post-page__author-details">
          <span class="post-page__author">{{ post.user.name }}</span>
          <span class="post-page__date">{{ post.data_publicacao | date:'dd MMM, yyyy' }}</span>
        </div>
      </div>

      <div class="post-page__actions">
        <button
          class="post-page__like-button"
          ng-class="{'liked': post.jaCurtiu}"
          ng-click="curtirPost()"
          id="btn-curtir-post"
        >
          <span class="like-icon" ng-show="!post.jaCurtiu">♡</span>
          <span class="like-icon" ng-show="post.jaCurtiu">♥</span>
          <span class="like-count">{{ post.total_likes }}</span>
        </button>
      </div>
    </div>

    <div class="post-page__body">{{ post.content }}</div>
  </article>
</div>
